/*General*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  min-height: 100vh;
}

#info{
  background: rgba(0,0,0,.6);
  padding: 3%;
  margin: 10%;
}

#info p{
  font-size: 150%;
  color: #ff851b;
}

#info h1{
  margin-bottom: 3%;
  color: #0099ff;
}

img{
  display: block;
  margin: auto;
  clear: right;
}

a{
  text-decoration: none;
  color: black;
}

h2 span {
  color: #0099ff;
}

#mapa{
  margin-bottom: 1%;
  max-width: 1350px;
}
/*Search-box*/

/*Footer*/

.footer{
  
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;  
  padding: 20px;
  width: 100%;
  background: #202020;
  color: white;
  max-width: 100%;
}

.container-footer-all{
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 40px;
}

.container-body{
  display: flex;
  justify-content: space-between;
}

.col1{
  max-width: 400px;
}

.col1 h1{
  font-size: 22px;
}

.col1 p{
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}

.col2{
  max-width: 400px;
  
}

.col2 h1{
  font-size: 22px;
}

.row{
  margin-top: 20px;
  display: flex;
}

.row img{
  width: 36px;
  height: 36px;
  margin: 0%;
}

.row label{
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
}

.col3{
  max-width: 400px;
}

.col3 h1{
  font-size: 22px;
}

.row2{
  margin-top: 20px;
  display: flex;
}

.row2 img{
  width: 36px;
  height: 36px;
  margin: 0%;
}

.row2 label{
  margin-top: 10px;
  margin-left: 20px;
  max-width: 150px;
}

.container-footer{
  width: 100%;  
  background: #101010;
}

.copyright{
  color: #C7C7C7;
}

.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a{
  text-decoration: none;
  color: #C7C7C7;
}


@media screen and (max-width: 1100px){
  
  .container-body{
      flex-wrap: wrap;
  }
  
  .col1{
      max-width: 100%;
  }
  
  .col2,
  .col3{
      margin-top: 40px;
  }
}
 
/*Formulario*/

.formulario .form .form-header .form-title {
  font-weight: normal;
  font-family: Roboto;
  padding: 14px 0;
}
.formulario .form .form-header .form-title span {
  color: #0099ff;
}

.formulario .form{
  background: rgba(0,0,0,0.6);
  width: 90%;
  max-width: 658px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}

.formulario .form .form-label {
  display: block;
  color: #0099ff;
  font-size: 16px;
  font-family: Roboto;
  position: relative;
}

.formulario .form .form-input, .form-textarea {
  background: rgba(0,0,0,.7);
  border:none;
  outline: none;
  border-bottom: 2px solid #0099ff;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: #FFF;
  font-family: Roboto;
}

.formulario .form .form-textarea{
  resize: vertical;
  max-height: 150px;
}

.formulario .form .btn-submit {
  width: 100%;
  font-family: Roboto;
  outline: none;
  background: #0099ff;
  font-size: 16px;
  border: none;
  color: #FFF;
  padding: 15px 0;
  cursor: pointer;
}
  
/* Menú */
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #FFF;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
  }

  .header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo h1{
    color: rgb(255, 102, 0);
  }

  .logo h1 b{
    color: rgb(3, 3, 187);
  }

  .menu{
    height: 80px;
  }

  .menu nav{
    height: 100%;
  }

  .menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
  }

  .menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: #0099ff;
    position: absolute;
    top: 0;
    left: 0;
  }

  .menu nav ul li a{
    color: #777777;
    transition: color 300ms;
  }

  .menu nav ul li a:hover{
    color: #0099ff;
  }

  .menu .text-menu-selected{
    color: #0099ff;
  } 

  #footer{
    clear: both;
    text-align: left;
    width: 1365px;
    margin: 0px;
  }