
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
  }

  .header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo h1{
    color: rgb(255, 102, 0);
  }

  .logo h1 b{
    color: rgb(3, 3, 187);
  }

  .menu{
    height: 80px;
  }

  .menu nav{
    height: 100%;
  }

  .menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
  }

  .menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: #0099ff;
    position: absolute;
    top: 0;
    left: 0;
  }

  .menu nav ul li a{
    color: #777777;
    transition: color 300ms;
  }

  .menu nav ul li a:hover{
    color: #0099ff;
  }

  .menu .text-menu-selected{
    color: #0099ff;
  } 