.bodybg1{
    background-position: -900px 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/body1.jpg);
}

.body1{
    margin: 450px 0px;
    text-align: center;
    color: white;
}

.bodybg2{
    background-position: -900px 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/body1.jpg);
}

.body2{
    margin: 450px 0px;
    text-align: center;
    color: white;
}