<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>NetBreaker</title>
        <meta name="description" content="NetBreaker">
        <script src="https://kit.fontawesome.com/e012b1bab8.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../public/styles/styles-general.css">
        <link rel="stylesheet" href="../public/styles/styles-footer.css">
        <link rel="stylesheet" href="../public/styles/styles-nav.css">
        <link rel="icon" type="img/icon" href="../public/assets/icon/icon.png">
    </head>
    <body>
        <header>
            <div class="header-content">
                
                <div class="logo">
                    <a href="index.html"><img src="../public/assets/img/logo.png" alt=""></a>
                </div>
                
                <div class="menu">
                <nav class="navegacion">
                        <ul class="menu">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="os.html">OPERATIVE SYSTEMS</a></li>
                            <li><a href="contact.html">CONTACT US</a></li>
                            <li class="menu-selected"><a href="aboutus.html"  class="text-menu-selected">ABOUT US</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            
        </header>

           <div class="wrap">
               <div class="info">
                   <h1>VISION</h1>
                   <p>NetBreaker is not a company meant to grow in money, but in knowledge. Meant to 
                       be a place where Cybersec fans or those keening to Programming.
                   </p>
               </div>
               <div class="info">
                   <h1>MISION</h1>
                   <p>Share, report and help with anything wrapped around this marvelous world</p>
               </div>
               <div class="info">
                   <h1>VALUES</h1>
                   <p>Partnership, generosity, loyalty and liability.</p>
               </div>
           </div>
           
        
        
        
        
        <div id="btn-up">
            <i class="fa-solid fa-chevron-up"></i>
        </div>

        <div class="footer">
            <div class="container-footer-all">
            <div class="container-body">
                <div class="col1">
                    <h1>More information</h1>
                    <p>The only purpose of the Netbreakers is to protect 
                        and help to defend your information</p>
                </div>
    
            <div class="col2">
            
            <h1>Social Media</h1>
            
            <div class="row">
                <a href="https://www.facebook.com/">
                <img src="../public/assets/icon/facebook.png"></a>
                <label>Follow us on Facebook</label>
            </div>
            <div class="row">
                <a href="https://twitter.com/">
                    <img src="../public/assets/icon/twitter.png"></a>
                    <label><pre>Follow us on Twitter</pre></label>
                </div>
                <div class="row">
                    <a href="https://www.instagram.com/">
                        <img src="../public/assets/icon/instagram.png"></a>
                        <label>Follow us on Instagram</label>
                    </div>
            
                </div>
    
                <div class="col3">
                    <h1>Contact Info</h1>
            
                    <div class="row2">
                        <img src="../public/assets/icon/smartphone.png">
                        <label>+1 000-000-0000</label>
                    </div>
            
                    <div class="row2">
                        <img src="../public/assets/icon/contact.png">
                        <label>info@netbreaker.com</label>
                    </div>
                </div>
            </div>
            
            <div class="container-footer">
                <div class="subfooter">
                <div class="copyright">
                    &copy; 2022 All rights reserved &#124; NetBreaker
                </div>
            
                <div class="information">
                    <a href="../view/info.html">Company Info</a> &#124;
                    <a href="../view/priv.html">Privacy and Politics</a> &#124;
                    <a href="../view/terms.html">Terms and Conditions </a>
                </div>
            </div>
            </div>
            </div>
        </div>
        <script src="../public/JS/upbtn-script.js"></script>
</body>
</html>